www.{$DOMAIN_NAME} {
    redir https://isabldemo.hopto.org
}

{$DOMAIN_NAME} {
    root /var/www/html

    proxy / django:5000 {
        transparent
        except /media
    }

    tls self_signed

    log stdout
    errors stdout
    gzip
}
